.about {
    height: 680px;
    text-align: center;
}
.about_elems {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about_elem {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 550px;
}
.buttons_about {
    background-color: #1bbc9b;
    border: none;
    color: white;
    font-size: 1.4em;
    margin: 5px;
}
.buttons_about:hover {
    background-color: #16a086;
}
.about_elem:hover {
    background-blend-mode: multiply;
    background-color: #1bbc9bff;
}
.about_elem:hover:after {
    content: '\1F50D';
    position: relative;
    font-size: 30px;
    color: white;
    padding: 5px;
    top: 40%;
    background-color: #0f6b5abb;
    border-radius: 100px;
}
.a {
    background-image: url('./about1.png');
}
.b {
    background-image: url('./about2.png');
}
.c {
    background-image: url('./about3.png');
}
.d {
    background-image: url('./about4.png');
}
.e {
    background-image: url('./about5.png');
}
.f {
    background-image: url('./about6.png');
}
.g {
    background-image: url('./about1.png');
}
.h {
    background-image: url('./about2.png');
}
@import 'index';
@media screen and (max-width: $medium + 400px) {
    .about_elem {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: $medium + 100px) {
    .about_elem {
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
    }
    .about_elem:hover:after {
        top: 30%;
    }
    .about {
        height: 500px;
    }
}
@media screen and (max-width: $small+120) {
    .about {
        height: 630px;
    }
}
@media screen and (max-width: $small) {
    .about_elem {
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .about_elem:hover:after {
        top: 25%;
    }
}
